body {
  font-family: sans-serif;
  margin: auto;
  background-color: #000000;
  color:#ffffff;
  font-size: 1.2em;
  margin-left: 10%;
  margin-right: 10%;
  /*max-width: 1280px;*/
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  /*max-width: 800px;*/
}

.navbar a {
  color: #dddddd;
  display: inline-block;
  font-size: 1.5em;
  /*padding: 10px;*/
  text-decoration: none;
}

.navbar a:hover {
  color: #9ff9ff;
}

